/* Body HTML */
body {
  background-color: #fff;
  font-family: Helvetica;
  color: #000;
}


/* SignIn and SignUp */
.sign{
  width: 100%;
}

.sign .form-sign{
  padding: 0px 170px 0px 100px;
}
.sign .form-sign .brand{
  width: 100px;
  height: 34px;
  background: #CFD4ED;
  display: flex;
  margin-bottom: 30px;
}

.sign .form-sign h2{
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #000000;

}

.sign .form-sign .form-label{
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #222222;
}

.sign .form-sign .btn-sign{
  margin: 20px 0px 10px;
  padding: 10px 10px;
  width: 100%;
  background: #0D28A6;
  border-radius: 2px;

  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
}

.sign .form-sign .to-signin{
  margin-top: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;

}

.sign .form-sign .to-signin a{
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #0D28A6;
}

.sign .right-header{
  width: 100%;
  height: 100%;
  background-color: #0D28A6;
  padding: 60px 0px 0px 50px;
}

.sign .right-header .title{
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  color: #FFFFFF;
  opacity: 0.7;

  margin-bottom: 30px;
}

.sign .right-header .img-fluid{
  width: 100%;
  height: 100;
}

.google-sign{
  width: 100%;
}

/* Offcanvas */
.offcanvas-end {
  width: 50%;
}

.offcanvas-end .offcanvas-title {
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.offcanvas-end .offcanvas-body .nav-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;

  margin-bottom: 16px;
}

.navbar-light {
  padding: 24px 0px 10px;
  background: #f1f3ff !important;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}
.navbar-brand {
  padding: 0px;
  width: 100px;
  height: 34px;
  background: #0d28a6;
}
.navbar-light .navbar-nav .nav-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  padding: 0px;
  margin-right: 32px;
}
.btn-navbar-right {
  padding: 8px 12px;
  background: #5cb85f;
  border-radius: 2px;

  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}
.btn-navbar-right:hover {
  background-color: #439b46;
  border-radius: 2px;

  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}


/* Header */
header {
  /* margin-top: 100px; */
  padding-top: 100px;
  height: max-content;
  background: #f1f3ff !important;
}
header .align-self-center {
  padding: 0px;
}
header h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  color: #000000;

  margin-bottom: 16px;
}
header p {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #000000;

  margin-bottom: 16px;
}
.btn-get-started {
  background-color: #5cb85f;
  border-radius: 2px;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}
.btn-get-started:hover {
  background-color: #439b46;
  border-radius: 2px;
  color: #fff;
}

/* Section */
section h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}
section h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
section p {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.section-services .services-right h2 {
  margin-bottom: 24px;
}
.section-services .services-right p {
  margin-top: 20px;
}
.section-services .services-item {
  margin-bottom: 20px;
}
.section-services .services-content .description {
  margin-top: 2px;
  margin-bottom: 0px;
  margin-left: 16px;
  overflow: hidden;
  float: left;
}
.section-services .services-content .description p {
  text-align: left;
}
.section-services .services-content .ic-check {
  width: 24px;
  height: 24px;
  float: left;
}

.section-why .why-heading h2 {
  margin-bottom: 16px;
}
.section-why .why-heading p {
  margin-bottom: 26px;
}
.section-why .card-why {
  border: 1px solid #d0d0d0;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 24px;
  height: 100%;
}
.section-why .card-why p {
  margin: 0px;
}
.section-why .why-icon {
  width: 32px;
  height: 32px;
  margin-bottom: 16px;
}
.section-why .why-content h3 {
  margin-bottom: 16px;
}

.section-testimonial .testimonial-heading {
  margin-bottom: 40px;
}
.section-testimonial .owl-carousel {
  z-index: 0;
}

.section-testimonial .owl-carousel .owl-nav {
  text-align: center;
  margin-top: 20px;
}
.section-testimonial .owl-carousel .owl-nav .owl-prev{
  margin-right: 20px;
}

.section-testimonial .card-testimonial .author-img {
  width: 80px;
  height: 80px;
}
.section-testimonial .card-testimonial .rate-img {
  width: 80px;
  height: 16px;
  margin-bottom: 8px;
}
.section-testimonial .card-testimonial p {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 8px;
}
.section-testimonial .card-testimonial .author {
  font-weight: bold;
  margin-bottom: 0px;
}

.section-started .card-started {
  max-width: 1168px;
  min-height: 326px;
  background: #0d28a6;
  border-radius: 13px;
  padding: 64px 55px;
}

.section-started .card-started h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  color: #ffffff;
  margin-bottom: 16px;
}

.section-started .card-started p {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;

  margin-bottom: 52px;
}

.section-started .btn-get-started {
  margin: 0px;
}

.section-faq .card-faq {
  border: 1px solid #d4d4d4 !important;
  box-sizing: border-box;
  border-radius: 4px !important;

  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

footer {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.section-footer {
  margin-top: 150px;
}

footer li {
  margin-bottom: 16px;
}

footer li a {
  text-decoration: none;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

footer img {
  margin-right: 14px;
}



.section-search .search-option{
  margin-bottom: 20px;
 
}

.section-search .pencarianmu {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}



.section-search .form-label {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #3c3c3c;
}

.input-group {
    min-width: 199px;
}

.section-search .input-group>.form-control, .input-group>.form-select {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  color: #3C3C3C;
}

.section-search .form-control:focus,.form-select:focus {
  border-color: #5CB85F !important;
  box-shadow: 0 0 0 0.3rem rgb(201 231 202 / 50%);
}


.section-search .customsearchgroup {
  border-right: 0;
  height: 38px;

}


.section-search .input-group .customsearchimg {
  background-color: transparent;
  border-left: 0;

}

.section-search .btn-search {
  background: #5cb85f;
  border-radius: 2px;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

.section-search .btn-search:focus {
  box-shadow: 0 0 0 0.3rem rgb(201 231 202 / 50%);
}

.section-search .customsearchgroup{
  /* border-right: 0 ; */
  height: 38px;
  
}


.section-search .input-group .customsearchimg{
  background-color: transparent;
  border-left: 0;
  
}

/* Gijgo Dropdown */
.section-search select:hover {
  background-color: transparent;
}

.section-search .placeholder {
  background-color: transparent;
}


.btn-outline-secondary:hover {
  color: #6c757d;
  border-color: #5CB85F !important;
}

.btn-outline-secondary:focus {
  box-shadow: 0 0 0 0.3rem rgb(201 231 202 / 50%);
}

.list-group-item{
  border: none;
}



.list-group-item.active {
  
  background-color: #C9E7CA;
  border-color: transparent;

  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #5CB85F;
}


button.btn.btn-default {
  background: #DEF1DF;
  border-radius: 2px;
  width: 108px;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}

button.btn.btn-default:hover {
  background: #5cb85f;

}


.section-cars .card-cars{
  width: 333px;
  height: 586px;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 24px;
}


.section-cars .card-cars .cars-img{
  width: 100%;
  height: 15vw;
  border-radius: 2px;
  object-fit: cover;
  margin-bottom: 40px;
}

.section-cars .card-cars h5{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.section-cars .card-cars h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.section-cars .card-cars p {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.section-cars .card-cars .spec-cars{
  margin-bottom: 24px;
}

.section-cars .card-cars .spec-cars .spec-detail{
  margin-bottom: 16px;
}

.section-cars .card-cars .spec-cars .spec-detail .spec-img{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.section-cars .card-cars .choose-cars .btn-choose-cars{
  width: 285px;
  height: 48px;
  background: #5CB85F;
  border-radius: 2px;
}

.section-cars .card-cars .choose-cars .btn-choose-cars:hover {
  background-color: #439b46;
}

.section-cars .card-cars .choose-cars .btn-choose-cars a {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  text-decoration: none;
}

.section-cars .alert-danger{
  width:100%;
  padding: 15px 50px;
}

/* Responsive */

/* Desktop */
@media only screen and (min-width: 1140px) {
  header {
    padding-left: 120px;
  }
  header .img-car {
    height: 390px;
  }

  section {
    padding-top: 100px !important;
  }
  .section-services {
    margin: 0px 30px;
  }
  .section-services .services-right {
    padding-left: 50px;
  }
  .section-testimonial .card-testimonial {
    padding: 69px 32px;
    width: 619px;
    height: max-content;
    background: #f1f3ff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin: 0px;
  }
  .section-started .card-started p {
    padding: 0px 280px;
  }

  .section-search {
    margin-top: -40px;
    width: 1047px;
    height: 106px;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    position: absolute;
  }

  .section-search .pencarianmu {
    margin: 18px 0px 0px 44px;
  }

  .section-search .btn-search {
    margin-top: 27px;
  }
}
/* Tablet */
@media only screen and (min-width: 540px) and (max-width: 960px) {
  header {
    padding-left: 30px;
  }
  header .img-car {
    margin-top: 24px;
    height: 350px;
  }
  header .img-car .bg-car {
    width: 100%;
    height: auto;
  }

  section {
    margin-top: 80px !important;
  }
  .section-services .services-image {
    margin-bottom: 50px;
  }
  .section-why .why-heading {
    text-align: center;
  }
  .section-testimonial .card-testimonial {
    padding: 69px 32px;
    width: 400px;
    height: max-content;
    background: #f1f3ff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin: 0px;
  }
  .section-testimonial .card-testimonial .author-img,
  .rate-img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px !important;
  }
  .section-started .card-started p {
    padding: 0px 100px;
  }

  /* Gijgo Dropdown */
  .section-search .gj-dropdown {
    width: 300px;
  }
  
  .gj-dropdown-bootstrap-4 [role=presenter] {
    width: 300px;
  }
  
}
/* Mobile */
@media only screen and (max-width: 540px) {
  header {
    padding-left: 12px;
  }
  header .img-car {
    margin-top: 24px;
    height: 220px;
  }
  header .img-car .bg-car {
    width: 100%;
    height: auto;
  }

  section {
    margin-top: 50px !important;
  }
  .section-services .services-image {
    padding: 50px;
  }
  .section-why .why-heading {
    text-align: center;
  }
  .section-testimonial .card-testimonial {
    padding: 69px 32px;
    width: fit-content;
    height: max-content;
    background: #f1f3ff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin: 0px;
  }
  .section-testimonial .card-testimonial .author-img,
  .rate-img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px !important;
  }

  .section-search .gj-dropdown {
    width: 100%;
  }

  .section-search .pencarianmu {
    margin: 18px 0px 0px 0px;
  }

  .section-search .btn-search {
    margin-top: 5px;
  }
  
  .gj-dropdown-bootstrap-4 [role=presenter] {
    width: 100%;
  }
  .section-cars{
    margin-top: 400px !important;
  }

  .section-cars .card-cars .cars-img {
    height: 45vw;
  }
}





